.translated-text {
    font-size: 1.2rem;
    padding-bottom: 20px; 
    color: #333; 
    border: 1px solid #ddd; 
    border-radius: 5px;
    margin-top: 10px; 
    padding: 15px; 
    background-color: #f8f8f8; 
    word-wrap: break-word; 
  }